<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Control</title>
    <link rel="stylesheet" href="../css/controlpanel.css">
</head>

<body>
    <div class="panel-superior">
        <h1>PANEL DE CONTROL</h1>
    </div>

    <div class="contenedor">
        <div class="sidebar">
            <h2>BIENVENIDO “EMPRESA”</h2>
            <ul>
                <li><span>Solicitudes</span></li>
                <li><span>Estadísticas</span></li>
            </ul>
            <div class="mapa">
                <img src="mapa.jpg" alt="Mapa">
            </div>
        </div>

        <div class="contenido">
            <table>
                <thead>
                    <tr>
                        <th>NOMBRE</th>
                        <th>DIRECCION</th>
                        <th>HORA</th>
                        <th>DESCRIPCION</th>
                        <th>ESTADO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Jonathan</td>
                        <td>Calle 120#12-129</td>
                        <td>11:50 pm</td>
                        <td>Se fue la luz</td>
                        <td class="pendiente">PENDIENTE</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>